= form_for event do |f|

  .form-group
    = f.label       :name, 'Event Name:'
    = f.text_field  :name, class: 'form-control'

  .form-group
    = f.label :date_time
    .input-group.date{id: 'datetimepicker1'}
      = f.text_field :date_time, class: 'form-control'
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar

  = f.submit 'Save'