= form_for event do |f|

  .form-group
    = f.label       :name, 'Event Name:'
    .text
      = f.text_field  :name

  .form-group
    = f.label :location
    .text
      = f.text_field :location

  .form-group
    = f.label :date
    .text
      = f.text_field :date

  .form-group
    = f.label :time
    .text
      = f.text_field :time



  = f.submit 'Save'